.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen {
  height: 500px;
  width: 800px;
  background-color: black;
  border: 10px solid lightblue;
  margin: 0 auto;
  color: green;
  font-family: 'VT323', monospace;
  font-size: 48px;
  text-align: left;
  display: flex;
  flex-flow: column-reverse;
  overflow: scroll;
}

.commandP, .titleH4, .descP, .playersP, .invP, .messageP, .errorP, .cooldownP {
  margin: 5px 10px;
}

.titleH4 {
  color: white;
}

.playersP {
  color: orange;
}

.errorP {
  color: red;
}

.cooldownP {
  color: dodgerblue;
}

.mapBoard {
  width: 1500px;
  height: 1500px;
  border: 1px solid black;
  margin: 0 auto;
}

.mapNode {
  width: 25px;
  height: 25px;
  border: 1px solid blue;
  margin: 10px;
  position: absolute;
  font-size: 12px;
}

.mapEdgeVert {
  width: 3px;
  height: 12px;
  border: 1px solid black;
  background-color: black;
  position: absolute;
}

.mapEdgeHoriz {
  width: 12px;
  height: 3px;
  border: 1px solid black;
  background-color: black;
  position: absolute;
}